.card,
.card-deck {
    padding: 0px;
    border-radius: 30px;
    /* border: grey solid; */
    background-image: linear-gradient();
}

.card-title {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

.card-text {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

@media (max-width: 500px) {
    .card-text {
        font-size: 15px; /* Adjust the font size for smaller screens */
        margin: 0px;
    }

    .card-title {
        font-size: 20px; /* Adjust the font size for smaller screens */
    }
}
